html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.bgimage{max-width:100%;height:auto}img{margin-bottom:-5px}a{color:inherit}
.display-container{position:relative}
body,h1 {font-family: "Comfortaa", bold; color: white}
body, html {height: 100%}
.bg {
    background-color: black;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
body, h2 {font-family: "Arima Madurai", black; color: white}
.border{border-color:DarkOrchid!important}
.center{text-align:center!important}
.jumbotxt{font-size:64px!important}
.largetxt{font-size:18px!important}
.regtxt{font-size:12px!important}
.display-topleft{position:absolute;left:0;top:0}
.display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}